.block{

}

.block_row{
  display: flex;
}

.Plov4ik{
    color: #403b3b;
    margin-left: 150px;
    margin-right: 150px;
    }
    
    .Today_is{
      color: #face01;
    
    }
    
    .Cooking{
      font-size: 20px;
    }
    
    .ingredients{
      font-size: 20px;
    
    }
    
    .Pilav{
      color: #e008086c;
    }
    
    .map{
      color: rgb(196, 15, 15);
      
    }
    
    .laugh{
      color: #ff004d;
      width: 300px;
    }
    
    .f_s{
      background-color: #050102;
      width: 100%;
    }
    
    