.block{

}

.block_row{

flex-direction: column;

  display: flexbox;

  border-width: 20px solid #ece89d;
  margin: 0px 0px 20px 0px;
}

.block_column{
  border: 20px solid #f2ff00fd;
}

.block_item{
background-color: #18b5a4;

}

.Plov4ik{
    color: #000;
    margin-left: 150px;
    margin-right: 150px;
    }
    
    .Today_is{
      color: #cafe01;
    
    }
    
    .Cooking{
      font-size: 20px;
    }
    
    .ingredients{
      font-size: 20px;
    
    }
    
    .Pilav{
      color: #e008086c;
    }
    
    .map{
      color: rgb(196, 15, 15);
      
    }
    
    .laugh{
      color: #ff004d;
      width: 300px;
    }
    
    .f_s{
      background-color: #050102;
      width: 100%;
    }
    
    