.block{

}

.block_row{

flex-direction: ;
align-items: flex-start;

flex-wrap: nowrap;
  display: flex;

  border-width: 20px solid #ece89d;
  margin: 0px 0px 20px 0px;
}

.block_column{
  border: 20px solid #f2ff00fd;
}

.block_item{
background-color: #18b5a4;

}

.Plov4ik{
    color: #000;
    margin-left: 150px;
    margin-right: 150px;
    }
    
    .Today_is{
      color: #cafe01;
    
    }
    
    .Cooking{
      font-size: 20px;
    }
    
    .ingredients{
      font-size: 20px;
    
    }
    
    .Pilav{
      color: #e008086c;
    }
    
    .map{
      color: rgb(196, 15, 15);
      
    }
    
    .laugh{
      color: #ff004d;
      width: 300px;
    }
    
    .f_s{
      background-color: #050102;
      width: 100%;
    }
    
    /*BODY*/

    .body{
      left: 0px;
      margin: 0px;
      overflow: hidden;
      position: relative;
    }

    /*MENU*/

    .menu{
      background: #555;
      left: -285px;
      height: 100%;
      position: fixed;
      width: 285px;
    }

    /* Basic CSS */

    .background{
      background-color: #4E2982;
      height: 100%;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
        -o-background-size: cover;
           background-size: cover;
           
      
    }

    .menu ul{
      border-top: 1px solid #4e2982;
      list-style: none;
      margin: 0px;
      padding: 0px;
    }

    .menu li{
      border-bottom: 1px solid #4e2982;
      font-family: 'Open Sans', sans-serif;
      line-height: 45px;
      padding-bottom: 3px;
      padding-left: 20px;
      padding-top: 3px;
    }

    .menu li :hover{
      cursor: pointer;
      background-color: #CFF700;
    }

    .menu a{
      color: #A3B92E;
      font-size: 15px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .icon-close{
      color: #A3B92E;
      cursor: pointer;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 6px;
    }

    .icon-menu{
      color: #A3B92E;
      cursor: pointer;
      font-family: 'Open Sans' sans-serif;
      font-size: 20px;
      padding-bottom: 25px;
      padding-left: 25px;
      padding-top: 25px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .icon-menu img{
      margin-right: 5px;
    }

    